:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white : hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

html {
    font-size: 15px;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: auto;
   background-color: var(--very-light-gray);
}

main {
    width: min(90%, 100%);
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    border-radius: 1rem;
    overflow: hidden;
}

@media (min-width: 750px){
    body {
        min-height: 100vh;
    }

    main {
     width: min(90%, 900px);
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: stretch;
     border-radius: 1rem;
     overflow: hidden;
    }
} 

section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;
    padding: 1.5rem;
}

section>h2 {
    color: var(--very-light-gray);
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
}

section>p {
    color: var(--transparent-white);
    font-family: 'Lexend Deca', sans-serif;
}

section>a {
    background-color: var(--very-light-gray);
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    font-family: 'Lexend Deca', sans-serif;
    margin: 2rem 0;
    cursor: pointer;
}

section>img, section>a {
    align-self: flex-start;
}

section:first-child {
    background-color: var(--bright-orange);
}

section:first-child > a{
    color: var(--bright-orange);
}

section:nth-child(2) {
    background-color: var(--dark-cyan);
}

section:nth-child(2) > a{
    color: var(--dark-cyan);
}

section:nth-child(3) {
    background-color: var(--very-dark-cyan);
}

section:nth-child(3) > a{
    color: var(--very-dark-cyan);
}

section>a:hover {
    background-color: transparent;
    color: var(--very-light-gray);
    outline: solid 2px var(--very-light-gray);
}